body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  h1, h2 {
    text-align: center;
  }

  input, button {
    width: 100%;
    margin: 5px auto;
  }

  input {
    height: 20px;
    text-align: center;
  }

  button {
    height: 30px;
  }

  #login {
    text-align: center;
  }

  #login input::placeholder {
    text-align: center;
  }

  .red {
    color: red;
  }
  
  ol, ul {
    padding-left: 30px;
  }

  #frame {
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }