h2 {
    display: inline-block;
}

input {
    background: #ccc;
    color: #fff;
    font-size: 1em;
}

input::placeholder {
    font-weight: bold;
}

button {
    background: #408cff;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.15em;
}

input, button {
    border-radius: 5px;
    border: none;
    height: 35px;
}